@import "../../apps/misterEmail/assets/css/email.css"; 
@import "../../apps/MissKeep/css/Keep.css"; 
@import "../../apps/home/assets/css/home.css"; 
@import "navbar.css"; 
@import "background.css"; 
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

.main-Contaoner{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notification{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.notification-container{
    align-self: center;
    width: 50vw;
    height: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(193, 117, 255, 0.548);
    border-radius: 20px;
    line-height: 10vw;
    
}

.navbar-link {
    text-decoration: none;
    color:rgb(41, 0, 65);
    font-family: 'Times New Roman';
    letter-spacing: 0.5px;
    margin: 10px;
}
