@import "../../apps/misterEmail/assets/css/email.css"; 
@import "../../apps/MissKeep/css/Keep.css"; 
@import "../../apps/home/assets/css/home.css"; 
@import "navbar.css"; 
@import "background.css"; 
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.main-Contaoner{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification-container{
    width: 50vw;
    height: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* background-color: rgb(207, 207, 207); */
}

.navbar-link {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
