.header{
    background-color: rgba(97, 97, 97, 0.37);
    padding: 20px;
    color:rgb(49, 49, 49)
}
.header-continer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
}
.logo-appsus{
    font-size: 25px;
    align-self: center;
}
.navbar-container{
    align-self: center;
}