
/* --------------------------------------- */
.email-app-container{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    max-width: 1800px;
    width: 90vw;
    margin: 20px;
}
.email-options-container{
    background-color: rgb(163, 30, 30);
    max-width: 300px;
    /* min-width: 200px; */
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
}
.email-list-container{
    background-color: rgb(235, 235, 235);
    padding: 30px;
    width: 75vw;
}
td {
    padding: 10px;
    width: 20vw;
    text-align: center;
}
.email-body{
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new-mail{
    padding: 5px;
    margin: 10px;
    align-self: center;
}
.email-option{
    align-self: center;  
    margin: 10px;
}