.home-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 70vw;
    margin-top: 100px;
}
/* .home-link-div{
    background-color: rgba(255, 112, 207, 0.555);
    border: 1px solid;
    border-radius: 50%;
    
    width: 20vw;
    max-width: 200px;
    height: 20vw;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-link-div:hover{
    background-color: rgb(255, 112, 207);
} */
.home-link{
   align-self: center;
}
.z-index-container{
    position: absolute;
    width: 100%;
    z-index: 100;
}
.mister-link{
    width: 30vw;
    max-width: 400px;
    align-self: start;
    opacity: 0.8;
    transition: 0.2s;
}
.mister-link:hover{
    opacity: 1;
}
.miss-link{
    width: 30vw;
    max-width: 400px;
    align-self: start;
    opacity: 0.8;
    transition: 0.2s;

}
.miss-link:hover{
    opacity: 1;
}